table {
    background:white;
    border-spacing: 0;
    border-right: 1px solid #499B33;
    border-bottom: 1px solid #499B33;
}

td {
    height: 30px;
    width: 30px;
    border-left: 1px solid #499B33;
    border-top: 1px solid #499B33;
}